@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");


:root {
  --header-height: 3rem;
  --first-color: rgb(123, 150, 185);
  --first-color-alt: #000000;
  --title-color: #393939;
  --text-color: #707070;
  --text-color-light: #A6A6A6;
  --body-color: #FBFEFD;
  --container-color: rgb(0, 0, 0);

  --body-font: 'Poppins', sans-serif;
  --biggest-font-size: 2.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  --font-medium: 500;
  --font-semi-bold: 600;

  --mb-1: .5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;

  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 768px){
  :root{
    --biggest-font-size: 4rem;
    --semibiggest-font-size: 3.6rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif; /* Fonte bonita */
    background-color: #f0f0f0; /* Cor de fundo suave */
}

.wrapper {
    width: 90%;
    max-width: 1536px;
    margin-inline: auto;
    position: relative;
    height: 60px;
    margin-top: 2rem;
    overflow: hidden;
    color: rgb(0, 0, 0);
}

@keyframes scrollLeft {
    to {
        left: -300px; /* Ajuste para o movimento */
    }
}

.iten {
    width: 300px; /* Aumentando a largura do item */
    height: 100px;
    color: rgb(0, 0, 0);
    border-radius: 6px;
    position: absolute;
    left: max(calc(300px * 8), 100%); /* Ajuste para a nova largura */
    animation-name: scrollLeft;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    display: flex; /* Usando flexbox para centralizar */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    color: white; /* Cor do texto */
    font-size: 1.2rem; /* Tamanho da fonte */
    white-space: nowrap; /* Impede a quebra de linha */
}

.item:hover {

  transform: scale(1.05); /* Aumenta o tamanho ao passar o mouse */

  background-color: rgba(255, 255, 255, 0.1); /* Fundo levemente mais claro ao passar o mouse */

}


.iten1 { animation-delay: calc(30s / 8 * (8 - 1) * -1); }
.iten2 { animation-delay: calc(30s / 8 * (8 - 2) * -1); }
.iten3 { animation-delay: calc(30s / 8 * (8 - 3) * -1); }
.iten4 { animation-delay: calc(30s / 8 * (8 - 4) * -1); }
.iten5 { animation-delay: calc(30s / 8 * (8 - 5) * -1); }
.iten6 { animation-delay: calc(30s / 8 * (8 - 6) * -1); }
.iten7 { animation-delay: calc(30s / 8 * (8 - 7) * -1); }
.iten8 { animation-delay: calc(30s / 8 * (8 - 8) * -1); }

html{
  scroll-behavior: smooth;
}

body.dark-theme{
  --title-color: #F1F3F2;
  --text-color: #C7D1CC;
  --body-color: rgb(0, 0, 0);
  --container-color: rgb(39, 42, 48);
}

.change-theme{
  position: absolute;
  right: 1rem;
  top: 1.8rem;
  color: var(--text-color);
  font-size: 1rem;
  cursor: pointer;
}


body{
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  line-height: 1.6;
}

h1,h2,h3,p,ul{
  margin: 0;
}

ul{
  padding: 0;
  list-style: none;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
  height: auto;
}

.section{
  padding: 4rem 0 2rem;
}

.section-title, .section-subtitle{
  text-align: center;
}

.section-title{
  font-size: var(--h1-font-size);
  color: var(--title-color);
  margin-bottom: var(--mb-3);
}

.section-subtitle{
  display: block;
  color: var(--first-color);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-1);
}

.bd-container{
  max-width: 960px;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

.bd-grid{
  display: grid;
  gap: 1.5rem;
}

.l-header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
}

.nav{
  max-width: 1024px;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px){
  .nav__menu{
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    padding: 1.5rem 0 1rem;
    text-align: center;
    background-color: var(--body-color);
    transition: .4s;
    box-shadow: 0 4px 4px rgba(0,0,0,.1);
    border-radius: 0 0 1rem 1rem;
    z-index: var(--z-fixed);
  }
}

.nav__item{
  margin-bottom: var(--mb-2);
}

.nav__link, .nav__logo, .nav__toggle{
  color: var(--text-color);
  font-weight: var(--font-medium);
}

.nav__logo:hover{
  color: var(--first-color);
}

.nav__link{
  transition: .3s;
}

.nav__link:hover{
  color: var(--first-color);
}

.nav__toggle{
  font-size: 1.3rem;
  cursor: pointer;
}

.show-menu{
  top: var(--header-height);
}

.active-link{
  color: var(--first-color);
}

.scroll-header{
  box-shadow: 0 2px 4px rgba(0,0,0,.1);
}

.scrolltop{
  position: fixed;
  right: 1rem;
  bottom: -20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .3rem;
  background: rgba(0, 0, 0, 0.5);
  border-radius: .4rem;
  z-index: var(--z-tooltip);
  transition: .4s;
  visibility: hidden;
}

.scrolltop:hover{
  background-color: var(--first-color-alt);
}

.scrolltop__icon{
  font-size: 1.8rem;
  color: var(--body-color);
}

.show-scroll{
  visibility: visible;
  bottom: 1.5rem;
}


/*========== HOME ==========*/

.contenedor{
  background-color:hsla(239, 69%, 59%, 0.603);
  max-width: 1200px;
  margin: auto;
  padding: 40px;
  border-radius: 40px;
  border: 5px solid #fff;
}
/* Enabezado Principal */
.contenedor header{
  display: flex;
  justify-content:space-between;
  align-items: center;
}
.contenedor header .logo-titulo a{
  text-decoration: none;
  color: #000;
  display: flex;
  align-items: center;
}
.contenedor header .logo-titulo i{
  background-color: #ffffff00;
  font-size: 20px;
  margin-right: 10px;
}
.contenedor header .logo-titulo h1{
  font-size: 24px;
}
.contenedor header nav a{
  text-decoration: none;
  color: #000;
  font-weight: bold;
  padding: 0 10px;
}
.contenedor header nav a:hover{
  color: hsl(0, 0%, 100%);
}
.contenedor header nav .selected{
  color: hsl(239, 69%, 59%);
}
.contenedor header .carrito{
  font-weight: bold;
  text-align: right;
  width: 150px;
}
.contenedor header .carrito a{
  text-decoration: none;
  color: #000;
}
.contenedor header .carrito .icono-carrito{
  display: inline-block;
  background-color: #fff3d2;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 12px;
  text-align: center;
  line-height: 40px;
  position: relative;
}
.contenedor header .carrito .icono-carrito:hover{
  background-color:hsl(239, 69%, 59%);
}
.contenedor header .carrito .total-item-carrito{
  position: absolute;
  background-color:hsl(239, 69%, 59%);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  top: 0;
  right: 0;
  line-height: 15px;
}

.contenedor-seccion{
  position: relative;
}
.contenedor-seccion {
  position: relative; /* Necessário para posicionar o vídeo em relação à seção */
  overflow: hidden; /* Evita que o vídeo "vaze" fora da seção */
}

.contenedor-seccion .fondo-seccion {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 500px; /* Altura fixa como no seu exemplo */
  object-fit: cover; /* Faz o vídeo cobrir a área, semelhante a background-size: cover */
  border-radius: 50px; /* Mantém o border-radius */

}

/* Sección Inicio */
.contenedor-seccion .inicio{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 300px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}
.contenedor-seccion .inicio .col{
  width: 50%;
}
.contenedor-seccion .inicio .col .titulo-inicio{
 line-height: 40px;
 font-size: 30px;
 color: rgb(253, 253, 253);
 margin-bottom: 15px;
}
.contenedor-seccion .inicio .col .buscador{
  width: 80%;
  margin: auto;
  background-color: #fff;
  display: flex;
  align-items: center;
  border-radius: 30px;
  overflow: hidden;
}
.contenedor-seccion .inicio .col .buscador input{
  width: 100%;
  border: none;
  display: inline-block;
  padding: 10px;
  outline: none;
}
.contenedor-seccion .inicio .col .buscador span{
  width: 50px;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
  cursor: pointer;
}
.contenedor-seccion .inicio .col .buscador span i{
  padding-right: 10px;
}
.contenedor-seccion .inicio .col .buscador span:hover{
  background-color:#ccc;
}

.contenedor-seccion .inicio .col .contenedor-img{
  width: 220px;
  height: 220px;
  margin: auto;
  background:rgba(255,255,255,.7);
  border-radius: 50%;
}
.contenedor-seccion .inicio .col .contenedor-img img{
  width: 1200%;
}


/*========== ABOUT ==========*/
.about__data{
  text-align: center;
}

.about__description{
  margin-bottom: var(--mb-3);
}

.about__img{
  width: 280px;
  border-radius: .5rem;
  justify-self: center;
}

/*========== SERVICES ==========*/
.services__container{
  row-gap: 2.5rem;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.services__content{
  text-align: center;
}

.services__img{
  width: 64px;
  height: 64px;
  fill: var(--first-color);
  margin-bottom: var(--mb-2);
}

.services__title{
  font-size: var(--h3-font-size);
  color: var(--title-color);
  margin-bottom: var(--mb-1);
}

.services__description{
  padding: 0 1.5rem;
}

/*========== MENU ==========*/
.menu__container{
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
}

.menu__content{
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--container-color);
  border-radius: .5rem;
  box-shadow: 0 2px 4px rgba(5, 75, 41, 0.15);
  padding: .75rem;
}

.menu__img{
  width: 100px;
  align-self: center;
  margin-bottom: var(--mb-2);
}

.menu__name, .menu__preci{
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}

.menu__name{
  font-size: var(--normal-font-size);
}

.menu__detail, .menu__preci{
  font-size: var(--small-font-size);
}

.menu__detail{
  margin-bottom: var(--mb-1);
}

.menu__button{
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  padding: .625rem .813rem;
  border-radius: .5rem 0 .5rem 0;
}

/*========== CONTACT ==========*/
.contact__container{
  text-align: center;
}

.contact__description{
  margin-bottom: var(--mb-3);
}
.contact__button{
    display: inline-block;
    background-color: var(--first-color);
    color: rgb(0, 0, 0);
    padding: .75rem 1rem;
    border-radius: .5rem;
    transition: .3s;
}
.contact__button .button{
  color: #fff;
}
/*========== FOOTER ==========*/
.footer__container{
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  row-gap: 2rem;
}

.footer__logo{
  font-size: var(--h3-font-size);
  color: var(--first-color);
  font-weight: var(--font-semi-bold);
}

.footer__description{
  display: block;
  font-size: var(--small-font-size);
  margin: .25rem 0 var(--mb-3);
}

.footer__social{
  font-size: 1.5rem;
  color: var(--title-color);
  margin-right: var(--mb-2);
}

.footer__title{
  font-size: var(--h2-font-size);
  color: var(--title-color);
  margin-bottom: var(--mb-2);
}

.footer__link{
  display: inline-block;
  color: var(--text-color);
  margin-bottom: var(--mb-1);
}

.footer__link:hover{
  color: var(--first-color);
}

.footer__copy{
  text-align: center;
  font-size: var(--small-font-size);
  color: var(--text-color-light);
  margin-top: 3.5rem;
}

/*========== MEDIA QUERIES ==========*/
@media screen and (min-width: 576px){
  .home__container,
  .about__container,
  .app__container{
    grid-template-columns: repeat(2,1fr);
    align-items: center;
  }

  .about__data, .about__initial,
  .app__data, .app__initial,
  .contact__container, .contact__initial{
    text-align: initial;
  }

  .about__img, .app__img{
    width: 380px;
    order: -1;
  }

  .contact__container{
    grid-template-columns: 1.75fr 1fr;
    align-items: center;
  }
  .contact__button{
    justify-self: center;
  }
}

@media screen and (min-width: 768px){
  body{
    margin: 0;
  }

  .section{
    padding-top: 8rem;
  }

  .nav{
    height: calc(var(--header-height) + 1.5rem);
  }
  .nav__list{
    display: flex;
  }
  .nav__item{
    margin-left: var(--mb-5);
    margin-bottom: 0;
  }
  .nav__toggle{
    display: none;
  }

  .change-theme{
    position: initial;
    margin-left: var(--mb-2);
  }

  .home__container{
    height: 100vh;
    justify-items: center;
  }

  .services__container,
  .menu__container{
    margin-top: var(--mb-6);
  }

  .menu__container{
    grid-template-columns: repeat(3, 210px);
    column-gap: 4rem;
  }
  .menu__content{
    padding: 1.5rem;
  }
  .menu__img{
    width: 130px;
  }

  .app__store{
    margin: 0 var(--mb-1) 0 0;
  }
}

@media screen and (min-width: 960px){
  .bd-container{
    margin-left: auto;
    margin-right: auto;
  }

  .home__img{
    width: 500px;
  }

  .about__container,
  .app__container{
    column-gap: 7rem;
  }
}

@media screen and (min-height: 721px) {
    .home__container {
        height: 640px;
    }
}

